<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A sensitivity analysis reporting tool.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Global Sensitivity Report</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="includes/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="GSA Report">
    <link rel="apple-touch-icon-precomposed" href="includes/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="includesh/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="includes/favicon.png">
    <link rel="stylesheet" href="includes/roboto.css">
    <link rel="stylesheet" href="includes/material-icons.css">
    <link rel="stylesheet" href="includes/material.cyan-light_blue.min.css">
    <link rel="stylesheet" href="includes/styles.css">
    <style>
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
    </style>
    <script type="text/javascript" src="includes/bokeh-2.4.2.min.js"></script>
    <script type="text/javascript">
        Bokeh.set_log_level("info");
    </script>
  </head>
  <body>
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">GSA Report</span>
          <div class="mdl-layout-spacer"></div>
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
            <li class="mdl-menu__item">About</li>
            <li class="mdl-menu__item">Contact</li>
          </ul>
        </div>
      </header>
      
      <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid demo-content">
          <div class="mdl-card mdl-color--white mdl-shadow--2dp mdl-cell mdl-grid--no-spacing mdl-cell--12-col-desktop ">
            <div class="mdl-card__title mdl-color--teal-500">
              <h2 class="mdl-card__title-text mdl-color-text--white">Global Sensitivity Report</h2>
            </div>
            <div class="mdl-card__supporting-text mdl-color-text--grey-600 mdl-cell--7-col" style="margin-left: 16px;">
              #EXPERIMENT_REPORT#
            </div>
            <div class="mdl-cell--5-col">
              #SURFACE#
            </div>
          </div>
          <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
            <div class="mdl-card__title mdl-card--expand">
              <h2 class="mdl-card__title-text">Morris analysis results</h2>
            </div>
            <div class="mdl-card__supporting-text mdl-color-text--grey-600">
              The elementary effects calculated by the Morris <a href="#1">[1]</a> algorithm. 
              On the left the covariance plot with <i>mu_star</i>, the absolute of the mean elementary effect, against <i>sigma</i>, the standard deviation of the elementary effect.
              Points highlighted are the parameters with the highest mu_star and these are also shown on the right with the confidence of the algorithm.
            </div>

            <div class="mdl-cell--7-col" style="margin-left: 16px;">
              #MORRIS2#
            </div>
            <div class="mdl-cell--5-col">
              #MORRIS1#
            </div>
          </div>

          <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--8-col mdl-grid">
            <div class="mdl-card__title">
              <h2 class="mdl-card__title-text">Sobol analysis results</h2>
            </div>
            <div class="mdl-card__supporting-text mdl-color-text--grey-600">
              Sobol <a href="#2">[2]</a> total and first order sensitivity indexes on the left for the top parameters.
              The second order sensitivity indexes are shown on the right for each pear of parameters. Both total and second order sensitivities are visualized in the network plot on the right.
            </div>

            <div class="mdl-cell--6-col" style="margin-left: 16px;">
              #SOBOL1#
            </div>
            <div class="mdl-cell--6-col">
              #SOBOL2#
            </div>
          </div>

          <div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
            <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
              <div class="mdl-card__title mdl-color--teal-500">
                <h2 class="mdl-card__title-text">Sobol network plot</h2>
              </div>
              <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                A visualisation of both first and second order sensitivities using Sobol analysis.
                The size of each node is the total sensitivity, the blue halo is the confidence and the edges between the nodes display the second order sensitivities.
                <img src="images/sobol.png" style="max-width:100%;" alt="SOBOL network plot"/>
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <a href="images/sobol_full.png" class="mdl-button mdl-js-button mdl-js-ripple-effect">View full resolution</a>
              </div>
            </div>
            <div class="demo-separator mdl-cell--1-col"></div>
          </div>

          <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--8-col mdl-grid">
            <div class="mdl-card__title mdl-card--expand">
              <h2 class="mdl-card__title-text">Delta</h2>
            </div>
            <div class="mdl-card__supporting-text mdl-color-text--grey-600">
              The Delta Moment-Independent Measure <a href="#3">[3]</a> uses a Latin Hypercube sampling to calculate the <i>delta</i> and <i>S1</i> (first order sensitivity) for each parameter.
            </div>

            <div class="mdl-cell--6-col" style="margin-left: 16px;">
              #DELTA1#
            </div>
            <div class="mdl-cell--6-col">
              #DELTA2#
            </div>
          </div>

          <div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
            <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
              <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
                <h2 class="mdl-card__title-text">Cite our paper</h2>
              </div>
              <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                Checkout our Github page for more information.
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <a href="https://github.com/Basvanstein/XAI" class="mdl-button mdl-js-button mdl-js-ripple-effect">Read More</a>
              </div>
            </div>
            <div class="demo-separator mdl-cell--1-col"></div>
          </div>
          
          <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--8-col mdl-grid">
            <div class="mdl-card__title mdl-card--expand">
              <h2 class="mdl-card__title-text">RBD Fast and Pawn</h2>
            </div>
            <div class="mdl-card__supporting-text mdl-color-text--grey-600">
              On the left the S1 results of RBD-FAST - Random Balance Designs Fourier Amplitude Sensitivity Test <a href="#4">[4]</a>.
              On the right the minimum, median and maximum results from the PAWN method <a href="#5">[5]</a>. The PAWN method is a moment-independent approach to GSA. It is described as producing robust results at relatively low sample sizes.
            </div>

            <div class="mdl-cell--6-col" style="margin-left: 16px;">
              #FAST#
            </div>
            <div class="mdl-cell--6-col">
              #PAWN#
            </div>
          </div>

          <div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
            <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
              <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
                <h2 class="mdl-card__title-text">References</h2>
              </div>
              <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                <p id="1">[1] Morris, M.D., 1991. Factorial Sampling Plans for Preliminary Computational Experiments. Technometrics 33, 161–174. https://doi.org/10.1080/00401706.1991.10484804</p>
                <p id="2">[2] Campolongo, F., Saltelli, A., Cariboni, J., 2011. From screening to quantitative sensitivity analysis. A unified approach. Computer Physics Communications 182, 978–988. https://doi.org/10.1016/j.cpc.2010.12.039</p>
                <p id="3">[3] Borgonovo, E. (2007). “A new uncertainty importance measure.” Reliability Engineering & System Safety, 92(6):771-784, doi:10.1016/j.ress.2006.04.015.</p>
                <p id="4">[4] S. Tarantola, D. Gatelli and T. Mara (2006) “Random Balance Designs for the Estimation of First Order Global Sensitivity Indices”, Reliability Engineering and System Safety, 91:6, 717-727 https://doi.org/10.1016/j.ress.2005.06.003</p>
                <p id="5">[5] Pianosi, F., Wagener, T., 2015. A simple and efficient method for global sensitivity analysis based on cumulative distribution functions. Environmental Modelling & Software 67, 1–11. https://doi.org/10.1016/j.envsoft.2015.01.004</p>

              </div>
            </div>
            <div class="demo-separator mdl-cell--1-col"></div>
          </div>
          

         

        </div>
      </main>
    </div>
     
      <script src="includes/material.min.js"></script>
      #SOBOL_SCRIPT1#
      #SOBOL_SCRIPT2#
      #MORRIS_SCRIPT1#
      #MORRIS_SCRIPT2#
      #DELTA_SCRIPT1#
      #DELTA_SCRIPT2#
      #FAST_SCRIPT#
      #PAWN_SCRIPT#
      #SURFACE_SCRIPT#
  </body>
</html>
