<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GSA Report</title>

    <!-- Custom fonts for this template-->
    <link
        href="includes/nunito.css"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="includes/sb-admin-2.min.css" rel="stylesheet">

    <script type="text/javascript" src="includes/bokeh-2.4.2.min.js"></script>
    <script type="text/javascript">
        Bokeh.set_log_level("info");
    </script>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">


        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <h1 class="h3 mb-0 text-gray-800">GSA Report #NAME#</h1>
                    
                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid" id="printContent">


                    <!-- Content Row -->

                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-7 col-lg-6 col-print-6">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Global Sensitivity Analysis Report</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    #EXPERIMENT_REPORT#
                                    <br/>
                                    <div class="col-sm-12 col-md-12 col-print-12">#RF_DIV#</div>
                                    <hr>
                                    <a href="#" class="card-link" onclick="printDivContent()">Print report</a>
                                </div>
                            </div>
                        </div>
                        <script>
                          function printDivContent() {
                            document.body.style.zoom = 595.0 / window.innerWidth;
                            window.print();
                            document.body.style.zoom = 1;
                          }

                        </script>

                        <!-- Pie Chart -->
                        <div class="col-xl-5 col-lg-6 col-print-6">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Function Landscape</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body" style="height:500px">
                                    <p>#SURFACETEXT#</p>
                                    #SURFACE#
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <!-- Morris Chart -->
                        <div class="col-xl-8 col-lg-7 col-print-7 MORRIS_SHOW">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Morris analysis results</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12 col-lg-3 col-md-4 col-print-5">
                                            #MORRIS2#
                                        </div>
                                        <div class="col-sm-12 col-lg-5 col-md-7 col-print-5">
                                          <br/><br/>
                                          The elementary effects calculated by the Morris <a href="#1">[1]</a> algorithm. 
                                          On the left the covariance plot with <i>mu_star</i>, the absolute of the mean elementary effect, against <i>sigma</i>, the standard deviation of the elementary effect.
                                          Points highlighted are the parameters with the highest mu_star and these are also shown below with the confidence of the algorithm.
                                        </div>
                                        <div class="col-sm-12 col-md-12 col-print-12">#MORRIS1#</div>
                                    </div>
    
                                </div>
                                
                            </div>
                        </div>
                        <!-- Shap  plot -->
                        <div class="col-xl-4 col-lg-5 col-print-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">SHAP</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    A summary plot of the SHAP values across the whole dataset. 
                                    * Note that the shap values are calculated using the trained Random Forest model and not using the real data set, as this is computationally more efficient.
                                </div>
                                <img src="images/#TAG#shap.png" style="max-width:100%;" alt="SOBOL network plot"/>
                            </div>
                        </div>

                        
                    </div>

                    
                    <div class="row SOBOL_SHOW">

                        <!-- Sobol Charts -->
                        <div class="col-xl-8 col-lg-7 col-print-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Sobol analysis results</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    Sobol <a href="#2">[2]</a> total and first order sensitivity indexes on the left for the top parameters.
                                    The second order sensitivity indexes are shown on the right for each pair of parameters. Both total and second order sensitivities are visualized in the network plot on the right.
                                    <br/> <br/>
                                    <div class="row">
                                        <div class="col-sm-6 col-print-6">
                                            #SOBOL1#
                                        </div>
                                        <div class="col-sm-6 col-print-6">
                                            #SOBOL2#
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Sobol network plot -->
                        <div class="col-xl-4 col-lg-5 col-print-5" #SOBOL_NETWORK_SUPPORT#>
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Sobol Network Plot</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    
                                    A visualisation of both first and second order sensitivities using Sobol analysis.
                                    The size of each node is the total sensitivity, the blue halo is the confidence and the edges between the nodes display the second order sensitivities.
                                </div>
                                <img src="images/#TAG#sobol.png" style="max-width:100%;" alt="SOBOL network plot"/>
                                <div class="card-body">
                                    <a href="images/#TAG#sobol_full.png" class="card-link">View full resolution</a>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                    <!-- DELTA-->
                    <div class="row pagebreak">

                        <!-- Area Chart -->
                        <div class="col-xl-8 col-lg-7 col-print-7 DELTA_SHOW">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Delta</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    The Delta Moment-Independent Measure <a href="#3">[3]</a> uses a Latin Hypercube sampling to calculate the <i>delta</i> and <i>S1</i> (first order sensitivity) for each parameter.
                                    <br/> <br/>
                                    <div class="row">
                                        <div class="col-sm-6 col-print-6">
                                            #DELTA1#
                                        </div>
                                        <div class="col-sm-6 col-print-6">
                                            #DELTA2#
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pie Chart -->
                      <div class="col-xl-4 col-lg-5 col-print-5 RBD_FAST_SHOW">
                          <div class="card shadow mb-4">
                              <!-- Card Header - Dropdown -->
                              <div
                                  class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                  <h6 class="m-0 font-weight-bold text-primary">RBD Fast</h6>
                              </div>
                              <!-- Card Body -->
                              <div class="card-body">
                                The S1 results of the RBD-FAST - Random Balance Designs Fourier Amplitude Sensitivity Test <a href="#4">[4]</a>.<br/>
                                <br/><br/>
                                #FAST#
                              </div>
                          </div>
                      </div>
                        
                    </div>

                    <!--RBD FAST AND PAWN-->
                    <!-- DELTA-->
                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-8 col-lg-7 col-print-12 PAWN_SHOW">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Pawn</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    The minimum, median and maximum results from the PAWN method <a href="#5">[5]</a>. The PAWN method is a moment-independent approach to GSA. It is described as producing robust results at relatively low sample sizes.
                                    <br/> <br/>
                                    #PAWN#
                                </div>
                            </div>
                        </div>

                        <!-- Pie Chart -->
                        <div class="col-xl-4 col-lg-5 col-print-12">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <!-- Card Body -->
                                <div class="card-body">
                                    <h5 class="card-title">References</h5>
                                    <p id="1">[1] Morris, M.D., 1991. Factorial Sampling Plans for Preliminary Computational Experiments. Technometrics 33, 161–174. https://doi.org/10.1080/00401706.1991.10484804</p>
                                    <p id="2">[2] Campolongo, F., Saltelli, A., Cariboni, J., 2011. From screening to quantitative sensitivity analysis. A unified approach. Computer Physics Communications 182, 978–988. https://doi.org/10.1016/j.cpc.2010.12.039</p>
                                    <p id="3">[3] Borgonovo, E. (2007). “A new uncertainty importance measure.” Reliability Engineering & System Safety, 92(6):771-784, doi:10.1016/j.ress.2006.04.015.</p>
                                    <p id="4">[4] S. Tarantola, D. Gatelli and T. Mara (2006) “Random Balance Designs for the Estimation of First Order Global Sensitivity Indices”, Reliability Engineering and System Safety, 91:6, 717-727 https://doi.org/10.1016/j.ress.2005.06.003</p>
                                    <p id="5">[5] Pianosi, F., Wagener, T., 2015. A simple and efficient method for global sensitivity analysis based on cumulative distribution functions. Environmental Modelling & Software 67, 1–11. https://doi.org/10.1016/j.envsoft.2015.01.004</p>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="row">
                      <!-- Pie Chart -->
                      <div class="col-xl-4 col-md-offset-4 col-md-4 col-print-4">
                        
                      </div>
                      <div class="col-xl-4 col-md-4 col-print-4">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <img src="includes/github.png" class="card-img-top"/>
                            <!-- Card Body -->
                            <div class="card-body">
                                <h5 class="card-title">Cite our paper</h5>
                                <p class="card-text">Checkout our Github page for more information.</p>
                            </div>
                            
                            <div class="card-body">
                                <a href="https://github.com/nikivanstein/GSAreport" class="card-link">Read More</a>
                            </div>
                            
                        </div>
                      </div>
                    </div>
                    

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white" style="display: none;">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Bas van Stein</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    #SOBOL_SCRIPT1#
    #SOBOL_SCRIPT2#
    #MORRIS_SCRIPT1#
    #MORRIS_SCRIPT2#
    #DELTA_SCRIPT1#
    #DELTA_SCRIPT2#
    #FAST_SCRIPT#
    #PAWN_SCRIPT#
    #SURFACE_SCRIPT#
    #RF_SCRIPT#
</body>

</html>
